.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
db/schema.rb
nbproject
*.swp
public/*/cache/*
public/system
public/system/*
public/videos
public/javascripts/all.js
public/stylesheets/all.css
config/*.sphinx.conf
log/*.pid
db/sphinx/*
log/searchd*
log/searchd.*
